/* colors */
$primary-color: #fff;
$bg-color: #000;

/* colors - hovers */
$bio-hover: #19547b;
$portfolio-hover: #19547b;
$cv-hover: #498dd1;
$close-btn-hover: #498dd1;
$text-hover: #5fc2fc;

/* additionals */
$img-path: '../img';
$font-main: Montserrat;