<section class="bio-section" id="bio">
	<div class="bio-content">
		<div class="close-btn bio"></div>
		<div class="bio-column left"></div>
		<div class="bio-column right">
			<h2 class="bio-title">Hello, world!<br>My name is Maria, and I'm one of these nerds from the neighbourhood.</h2>
			<div class="bio-photo">
				<img class="bio-photo__item mobile" src="img/bio-img-mobile.jpg" alt="">
				<img class="bio-photo__item tablet" src="img/bio-img-tablet.jpg" alt="">
				<img class="bio-photo__item desktop-s" src="img/bio-img-desktop-s.jpg" alt="">
				<img class="bio-photo__item desktop-m" src="img/bio-img-desktop-m.jpg" alt="">
				<img class="bio-photo__item desktop-l" src="img/bio-img-desktop-l.jpg" alt="">
			</div>
			<div class="bio-text">
                <p class="bio-text__item">After university graduation I got my first job as a customer support representative with a huge international hosting provider. My communication skills and English knowledge got powered up with a general world wide web technical understanding, as well as basic-to-middle level hosting management skills.</p>
				<p class="bio-text__item">I loved my job but had a feeling that devops is not my future. After spending a few evenings in industry research, I have confidently chosen my way of a front-end developer.</p>
				<p class="bio-text__item">I'm a visual kind of person. Creating awesome digital experiences, transparent UX and reviving static design by adding animations is something that I definitely want to do.</p>
				<p class="bio-text__item">I quit my job and spent months in education. Theory is everything and nothing at the same time — since my first completed theory milestones I've been creating landing pages of different complexity, with different frameworks and tools.</p>
				<p class="bio-text__item">Learning curve will never end — but now I feel that I'm good to go as a junior front-end developer. So, this is the position I'm looking for.</p>
			</div>
		</div>
	</div>
</section>