<section class="home-section">
    <div class="home-shadow"></div>
    <div class="home-banner">
        <h1 class="home-title">Maria Mischenko<small>online portfolio</small></h1>
    </div>
    <nav class="home-nav">
        <ul>
            <li class="home-nav__item bio">
                <a class="home-nav__item-link" href="bio">bio</a>
            </li>
            <li class="home-nav__item portfolio">
                <a class="home-nav__item-link" href="portfolio">portfolio</a>
            </li>
            <li class="home-nav__item cv">
                <a class="home-nav__item-link" href="cv">cv</a>
            </li>
        </ul>
    </nav>
</section>