<section class="portfolio-section" id="portfolio">
    <div class="close-btn portfolio"></div>

    <div class="portfolio-grid">
        <h2 class="portfolio-grid__title">portfolio</h2>

        <!-- Item #1 -->
        <div class="portfolio-grid__item one">
            <img class="portfolio-grid__item-img mobile" src="img/portfolio-img-1-mobile.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-s" src="img/portfolio-img-1-tablet-s.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-m" src="img/portfolio-img-1-tablet-m.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-s" src="img/portfolio-img-1-desktop-s.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-m" src="img/portfolio-img-1-desktop-m.jpg" alt="">
            <span class="portfolio-grid__item-number one">01</span>
            <div class="portfolio-grid__item-info">
                <h3 class="portfolio-grid__item-title">lian</h3>
                <p class="portfolio-grid__item-lang">Wordpress theme from scratch</p>
                <div class="portfolio-grid__item-src">
                    <a class="portfolio-grid__item-link" href="https://github.com/sidandsid/lian" target="_blank">
                        <svg class="portfolio-grid__item-icon github">
                            <use xlink:href="svg/sprite.svg#github"></use>
                        </svg>
                        view source
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                    <a class="portfolio-grid__item-link" href="https://sidandsid.com/lian" target="_blank">
                        <svg class="portfolio-grid__item-icon front">
                            <use xlink:href="svg/sprite.svg#front"></use>
                        </svg>
                        view front-end
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Item #2 -->
        <div class="portfolio-grid__item two">
            <img class="portfolio-grid__item-img mobile" src="img/portfolio-img-2-mobile.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-s" src="img/portfolio-img-2-tablet-s.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-m" src="img/portfolio-img-2-tablet-m.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-s" src="img/portfolio-img-2-desktop-s.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-m" src="img/portfolio-img-2-desktop-m.jpg" alt="">
            <span class="portfolio-grid__item-number two">02</span>
            <div class="portfolio-grid__item-info">
                <h3 class="portfolio-grid__item-title">kappe</h3>
                <p class="portfolio-grid__item-lang">html/scss</p>
                <p class="portfolio-grid__item-plugin"><span>Plugins</span>fancybox | flickity slider | isotope filter | masonry layout | scrollreveal</p>
                <div class="portfolio-grid__item-src">
                    <a class="portfolio-grid__item-link" href="https://github.com/sidandsid/kappe" target="_blank">
                        <svg class="portfolio-grid__item-icon github">
                            <use xlink:href="svg/sprite.svg#github"></use>
                        </svg>
                        view source
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                    <a class="portfolio-grid__item-link" href="https://sidandsid.com/kappe" target="_blank">
                        <svg class="portfolio-grid__item-icon front">
                            <use xlink:href="svg/sprite.svg#front"></use>
                        </svg>
                        view front-end
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Item #3 -->
        <div class="portfolio-grid__item three">
            <img class="portfolio-grid__item-img mobile" src="img/portfolio-img-3-mobile.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-s" src="img/portfolio-img-3-tablet-s.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-m" src="img/portfolio-img-3-tablet-m.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-s" src="img/portfolio-img-3-desktop-s.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-m" src="img/portfolio-img-3-desktop-m.jpg" alt="">
            <span class="portfolio-grid__item-number three">03</span>
            <div class="portfolio-grid__item-info">
                <h3 class="portfolio-grid__item-title">deco</h3>
                <p class="portfolio-grid__item-lang">Wordpress theme from scratch</p>
                <div class="portfolio-grid__item-src">
                    <a class="portfolio-grid__item-link" href="https://github.com/sidandsid/deco" target="_blank">
                        <svg class="portfolio-grid__item-icon github">
                            <use xlink:href="svg/sprite.svg#github"></use>
                        </svg>
                        view source
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                    <a class="portfolio-grid__item-link" href="https://sidandsid.com/deco" target="_blank">
                        <svg class="portfolio-grid__item-icon front">
                            <use xlink:href="svg/sprite.svg#front"></use>
                        </svg>
                        view front-end
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Item #4 -->
        <div class="portfolio-grid__item four">
            <img class="portfolio-grid__item-img mobile" src="img/portfolio-img-4-mobile.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-s" src="img/portfolio-img-4-tablet-s.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-m" src="img/portfolio-img-4-tablet-m.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-s" src="img/portfolio-img-4-desktop-s.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-m" src="img/portfolio-img-4-desktop-m.jpg" alt="">
            <span class="portfolio-grid__item-number four">04</span>
            <div class="portfolio-grid__item-info">
                <h3 class="portfolio-grid__item-title">sidandsid</h3>
                <p class="portfolio-grid__item-lang">html/scss</p>
                <div class="portfolio-grid__item-src">
                    <a class="portfolio-grid__item-link" href="https://github.com/sidandsid/sid" target="_blank">
                        <svg class="portfolio-grid__item-icon github">
                            <use xlink:href="svg/sprite.svg#github"></use>
                        </svg>
                        view source
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                    <a class="portfolio-grid__item-link" href="https://sidandsid.com/" target="_blank">
                        <svg class="portfolio-grid__item-icon front">
                            <use xlink:href="svg/sprite.svg#front"></use>
                        </svg>
                        view front-end
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Item #5 -->
        <div class="portfolio-grid__item five">
            <img class="portfolio-grid__item-img mobile" src="img/portfolio-img-5-mobile.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-s" src="img/portfolio-img-5-tablet-s.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-m" src="img/portfolio-img-5-tablet-m.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-s" src="img/portfolio-img-5-desktop-s.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-m" src="img/portfolio-img-5-desktop-m.jpg" alt="">
            <span class="portfolio-grid__item-number five">05</span>
            <div class="portfolio-grid__item-info">
                <h3 class="portfolio-grid__item-title">exe</h3>
                <p class="portfolio-grid__item-lang">html/scss</p>
                <p class="portfolio-grid__item-plugin"><span>Plugins</span>fancybox | flickity slider | isotope filter</p>
                <div class="portfolio-grid__item-src">
                    <a class="portfolio-grid__item-link" href="https://github.com/sidandsid/exe" target="_blank">
                        <svg class="portfolio-grid__item-icon github">
                            <use xlink:href="svg/sprite.svg#github"></use>
                        </svg>
                        view source
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                    <a class="portfolio-grid__item-link" href="https://sidandsid.com/exe" target="_blank">
                        <svg class="portfolio-grid__item-icon front">
                            <use xlink:href="svg/sprite.svg#front"></use>
                        </svg>
                        view front-end
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Item #6 -->
        <div class="portfolio-grid__item six">
            <img class="portfolio-grid__item-img mobile" src="img/portfolio-img-6-mobile.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-s" src="img/portfolio-img-6-tablet-s.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-m" src="img/portfolio-img-6-tablet-m.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-s" src="img/portfolio-img-6-desktop-s.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-m" src="img/portfolio-img-6-desktop-m.jpg" alt="">
            <span class="portfolio-grid__item-number six">06</span>
            <div class="portfolio-grid__item-info">
                <h3 class="portfolio-grid__item-title">isama</h3>
                <p class="portfolio-grid__item-lang">html/scss</p>
                <p class="portfolio-grid__item-plugin"><span>Plugins</span>mixitup filter | wow slider</p>
                <div class="portfolio-grid__item-src">
                    <a class="portfolio-grid__item-link" href="https://github.com/sidandsid/isama" target="_blank">
                        <svg class="portfolio-grid__item-icon github">
                            <use xlink:href="svg/sprite.svg#github"></use>
                        </svg>
                        view source
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                    <a class="portfolio-grid__item-link" href="https://sidandsid.com/isama" target="_blank">
                        <svg class="portfolio-grid__item-icon front">
                            <use xlink:href="svg/sprite.svg#front"></use>
                        </svg>
                        view front-end
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Item #7 -->
        <div class="portfolio-grid__item seven">
            <img class="portfolio-grid__item-img mobile" src="img/portfolio-img-7-mobile.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-s" src="img/portfolio-img-7-tablet-s.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-m" src="img/portfolio-img-7-tablet-m.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-s" src="img/portfolio-img-7-desktop-s.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-m" src="img/portfolio-img-7-desktop-m.jpg" alt="">
            <span class="portfolio-grid__item-number seven">07</span>
            <div class="portfolio-grid__item-info">
                <h3 class="portfolio-grid__item-title">blueasy</h3>
                <p class="portfolio-grid__item-lang">html/scss</p>
                <p class="portfolio-grid__item-plugin"><span>Plugins</span>fancybox | mixitup filter</p>
                <div class="portfolio-grid__item-src">
                    <a class="portfolio-grid__item-link" href="https://github.com/sidandsid/blueasy" target="_blank">
                        <svg class="portfolio-grid__item-icon github">
                            <use xlink:href="svg/sprite.svg#github"></use>
                        </svg>
                        view source
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                    <a class="portfolio-grid__item-link" href="https://sidandsid.com/blueasy" target="_blank">
                        <svg class="portfolio-grid__item-icon front">
                            <use xlink:href="svg/sprite.svg#front"></use>
                        </svg>
                        view front-end
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Item #8 -->
        <div class="portfolio-grid__item eight">
            <img class="portfolio-grid__item-img mobile" src="img/portfolio-img-8-mobile.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-s" src="img/portfolio-img-8-tablet-s.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-m" src="img/portfolio-img-8-tablet-m.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-s" src="img/portfolio-img-8-desktop-s.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-m" src="img/portfolio-img-8-desktop-m.jpg" alt="">
            <span class="portfolio-grid__item-number eight">08</span>
            <div class="portfolio-grid__item-info">
                <h3 class="portfolio-grid__item-title">ellipsis</h3>
                <p class="portfolio-grid__item-lang">html/less</p>
                <p class="portfolio-grid__item-plugin"><span>Plugins</span>AOS animate on scroll</p>
                <div class="portfolio-grid__item-src">
                    <a class="portfolio-grid__item-link" href="https://github.com/sidandsid/ellipsis" target="_blank">
                        <svg class="portfolio-grid__item-icon github">
                            <use xlink:href="svg/sprite.svg#github"></use>
                        </svg>
                        view source
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                    <a class="portfolio-grid__item-link" href="https://sidandsid.com/ellipsis" target="_blank">
                        <svg class="portfolio-grid__item-icon front">
                            <use xlink:href="svg/sprite.svg#front"></use>
                        </svg>
                        view front-end
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Item #9 -->
        <div class="portfolio-grid__item nine">
            <img class="portfolio-grid__item-img mobile" src="img/portfolio-img-9-mobile.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-s" src="img/portfolio-img-9-tablet-s.jpg" alt="">
            <img class="portfolio-grid__item-img tablet-m" src="img/portfolio-img-9-tablet-m.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-s" src="img/portfolio-img-9-desktop-s.jpg" alt="">
            <img class="portfolio-grid__item-img desktop-m" src="img/portfolio-img-9-desktop-m.jpg" alt="">
            <span class="portfolio-grid__item-number nine">09</span>
            <div class="portfolio-grid__item-info">
                <h3 class="portfolio-grid__item-title">AOD</h3>
                <p class="portfolio-grid__item-lang">html/css</p>
                <div class="portfolio-grid__item-src">
                    <a class="portfolio-grid__item-link" href="https://github.com/sidandsid/aod" target="_blank">
                        <svg class="portfolio-grid__item-icon github">
                            <use xlink:href="svg/sprite.svg#github"></use>
                        </svg>
                        view source
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                    <a class="portfolio-grid__item-link" href="https://sidandsid.com/aod" target="_blank">
                        <svg class="portfolio-grid__item-icon front">
                            <use xlink:href="svg/sprite.svg#front"></use>
                        </svg>
                        view front-end
                        <svg class="portfolio-grid__item-icon arrow">
                            <use xlink:href="svg/sprite.svg#arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>	